.App{
  font-family: 'Poppins', sans-serif;
  font-weight: 600; 
}
.green{
  background-color: #00796b !important;
  color: #fff  !important;
  font-weight: 500 !important;
  &:hover{
    color: #00685c !important;
    background-color: #f6faf9 !important;
  }
}

// @media(max-width:502px){
//   .App{
//     margin-left: 14px;
//     margin-right: 14px;
//   }
// }