.CallPageHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    border-radius: 0 0 0 10px;
    overflow: hidden;
    .header__items{
        display: flex;
        align-items: center;
        height: 50px;
        justify-content: center;
        flex: 1;
        border-right: 1px solid rgb(245,245,245) ;
       position: relative;
       .alert__alert__icon{
           position: absolute;
           background: #04796a;
           width: 10px;
           height: 10px;
           border-radius: 50%;
           border: 2px solid #fff;
           top: 10px;
           right: 20px;
       }
       &.date__block{
           font-size: 22px;
           color: grey;
           min-width: 120px;
           font-weight: 400px;
       }
       &.icon__block{
           .icon{
               color: grey ;
               font-size: 22px;
               &.profile{
                   font-size: 32px;
                   color: #04796a !important;
               }
           }
            &:hover{
                cursor: pointer;
                background-color: #eee;
            }
       }
    }
}