.MeetingInfo{
    position: absolute;
    top: 50px;
    left: 50px;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    width: 310px;
    .meetings__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #222;
        h3{
            margin: 0;
            font-size: 18px;
            font-weight: 700;
        }
        .icon{
            cursor: pointer   !important;
            font-size: 20px;
        }
    }
    .addPeople__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer   !important;
        background:   #04796a !important; ;
        color: white;
        font-size:16px ;
        padding: 10px;
        border-radius: 5px;
        outline: none;
        border: none;
        margin-top: 20px;
        .icon{
            font-size:20px ;
            margin-right: 10px;
        }
    }
        .info__text{
            columns: #222;
            font-size: 14px;
        }
        .meeting__link{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background:#f1f3f5 ;
            padding: 15px;
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            cursor: pointer;
            .meeting__link__text{
                font-style: italic;
                font-size: 14px;
                font-weight: 600;
                border: none;
                outline: none;
                background: none;
                flex: 1;
                color: #555;
            }
            .icon{
                cursor: pointer;
                color: #555;
            }
    }
    .permission__text{
        display: flex;
        align-items: center;
        justify-items: center;
        .icon{
            color: #4385f4 !important;
            font-size: 20px;
            margin-right: 10px;
        }
    }
    .small_text{
        font-size: 13px;
        color: #222;
    }
}

@media(max-width:502px){
    .MeetingInfo{
        left: 9px;
        top: 79px;
    }
}